body {
  font-family: "Trebuchet MS", sans-serif;
  margin: 0px;
}

#top {
  position: static;
  width: 100%;
  height: 80px;
  margin: 0;
  padding-left: 20px;
  overflow: auto;
  box-sizing: border-box;
  background-color: #565656;
  color: white;
}

#form {
  position: absolute;
  left: 0; top: 80px; bottom: 0;
  width: 200px;
  padding-bottom: 20px;
  background-color: #0375B4;
  color: #FFFFFF;
  overflow-y: auto;
  text-align: center;
}

#main {
  position: absolute;
  left: 200px; top: 80px; bottom: 0;
  width: 400px;
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  background-color: #EFEFEF;
  color: #000000;
}

#right {
  position: absolute;
  right: 0; top: 80px; bottom: 0;
  width: calc(100% - 400px - 200px);
}

@media all and (max-width: 900px) {
  #top {
    text-align: center;
    padding: 0;
  }
  
  #form, #main, #right {
    position: static;
    width: 100%;
  }
  
  #right {
    height: 400px;
  }
  
  h2 {
    text-align: center;
  }
}

label {
  margin-top: 10px;
  display: inline-block;
  font-weight:bold;
}

input {
  padding: 5px;
  border: solid 1px white;
  background: transparent;
  font-family: inherit;
  color: inherit;
}

input[type=text]{
  width: 40px;
}

input[type=number]{
  width: 32px;
}

input[type=date]{
  width: 105px;
}

input[type=date]::-webkit-calendar-picker-indicator   {
  opacity: 1;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-clear-button {
  -webkit-appearance: none;
}

input[type=button]{
  margin-top: 5px;
  border: none;
  background: white;
  color: #0375B4;
}

#itinerarylist dt a{
  color: inherit;
  font-weight: bold;
}

#itinerarylist dd {
  margin: 0;
}

#progressoutline {
  position: relative;
  margin: 20px auto;
  width: 200px;
  height: 30px;
  background-color: white;
  outline: black 1px solid;
}

#progressbar {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #0375B4;
}

#progresslabel{
  text-align: center;
  line-height: 30px;
  width: 200px;
}

#map {
  width: 100%;
  height: 100%;
}

.error{
  color: red;
  margin-bottom: 10px;
}
